{% extends 'base.html.twig' %}

{% block title %}Stack index{% endblock %}

{% block body %}
    <h1>Stack index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for stack in stacks %}
            <tr>
                <td>{{ stack.id }}</td>
                <td>{{ stack.name }}</td>
                <td>
                    <a href="{{ path('app_stack_show', {'id': stack.id}) }}">show</a>
                    <a href="{{ path('app_stack_edit', {'id': stack.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_stack_new') }}">Create new</a>
{% endblock %}
