{% extends 'base.html.twig' %}

{% block title %}ControlPoint index{% endblock %}

{% block body %}
    <h1>ControlPoint index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for control_point in control_points %}
            <tr>
                <td>{{ control_point.id }}</td>
                <td>{{ control_point.name }}</td>
                <td>
                    <a href="{{ path('app_control_point_show', {'id': control_point.id}) }}">show</a>
                    <a href="{{ path('app_control_point_edit', {'id': control_point.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_control_point_new') }}">Create new</a>
{% endblock %}
