{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
{% include '/layouts/_navAdmin.html.twig' %}

<div class="container col-9">
    <h2 class="text-center">Liste des employés</h2>
    <div class="d-flex justify-content-between mb-4 mt-3">
        <form method="GET" action="#" class="d-flex">
            <input class="form-control me-2" id="keywords" name="keywords" type="search" placeholder="mot clé" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Recherche</button>
        </form>
        <a href="#" class="btn btn-light d-flex align-items-center gap-2"><i class="bi bi-plus-circle"
                style="font-size: 1rem;"></i><span>Ajouter un employé</span></a>
    </div>
    <table class="table h-auto">
        <thead>
            <tr>
                <th class="text-left align-middle col-1 ps-5">#</th>
                <th class="text-left align-middle col-1">Nom</th>
                <th class="text-left align-middle col-1">Prénom</th>
                <th class="text-left align-middle col-2">Profession</th>
                <th class="text-left align-middle col-1">Agence</th>
                <th class="text-center align-middle col-1">En mission</th>
                <th class="text-center align-middle col-2">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td class="text-left align-middle ps-5">{{ loop.index }}</th>
                <td class="text-left align-middle">{{ user.lastname }}</td>
                <td class="text-left align-middle">{{ user.firstname }}</td>
                <td class="text-left align-middle">
                    {% for job in user.job %}
                        {{ job.name }}
                    {% endfor %}
                </td>
                <td class="text-left align-middle">{{ user.agency.name }}</td>
                <td class="text-center align-middle">{{ user.isAvailable ? 'Oui' : 'Non' }}</td>
                <td class="text-center align-middle">
                    <div class=" d-flex justify-content-center gap-2">
                    <a href="mailto:{{ user.email }}" class="btn btn-secondary" type="button"><i
                            class="bi bi-envelope-plus"></i></a>
                    <a href="{{ path('app_user_edit', {'id': user.id})}}" class="btn btn-warning" type="button"><i
                            class="bi bi-pencil-square"></i></a>
                            {% include 'user/_delete_form.html.twig' %}
                        </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}